body {
  font-family: "Segoe UI", Arial, sans-serif!important;
}

/* ----------- NAVBAR -----------*/

.navbar-default{
  background-color: white!important; 
}

.navbar-default .navbar-nav>li>a {
  color: #b2b2b2!important;
}

#navBar {
  box-shadow: 0px 5px 7px #dcdcdc;
}

#logo {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}

#booked {
  margin-left: 5px;
  font-weight: 400;
}

#ufape {
  font-family: "rockwellregular";
  font-weight: 500;
  margin-left: 4px;
  margin-top: 4px;
  color: #1492e6;
}

.dropdown {
  /* margin-right: 10px; */
}

#header-nav-dir {
  margin-right:60px;
}

.caret {
  border-top-width: 7px!important;
  border-left-width: 7px!important;
  border-right-width: 7px!important;
  border-radius: 5px;
}

#entrar {
  color:#ff5d4b!important;
  font-weight: 500;
}

body {
  background-color: #f5f5f5!important;
}


/* ----------- LOGIN -----------*/

#page-login {
  display: flex;
  justify-items: center;
}

#login-box {
  /* width: 400px; */
  background-color: white!important;
  border: none!important;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px #dcdcdc;
}

#icone-login {
  width: 60px;
  float: left;
}

#logo-login {
  height: 30px;
  float: left;
  margin-left: 20px;
}

.texto-login {
  font-family: "rockwellregular";
  font-weight: 600;
  font-size: small;
  line-height: 0.3;
  color: #1492e6;
  text-align: left;
  margin-left: 30px;
}

#texto {
  width: 240px;
  margin-left: 52px;
  margin-top:12px;
}

#email, #password {
  /* width: 300px; */
  background-color: #fdffc5;
  border-radius: 7px;
}

.negrito {
  font-weight: bold!important;
}

.fonte-pequena {
  font-size: 9pt!important;
}

.login-icon {
  margin-bottom: 30px;
}

.checkbox {
  margin-top:-18px!important;
  padding-top: 0px!important; 
  width:300px;
}

#esqueceu-senha {
  float: right;
  color: #1492e6;
  text-decoration: underline;
  font-weight: 500!important;
}

.entrar-btn {
  background-color:#25cc03!important;
  border: none!important;
  font-weight: 500!important;
}

.register {
  margin-top: -23px;
  text-align: left!important;
}

#cliqueaqui {
  color: #1492e6;
  text-decoration: underline;
}

#mudar-idioma {
  color: #1492e6;
  text-decoration: underline;
  margin-right: -12px;
}

#change-language {
  margin-top: 10px;
  margin-bottom: -25px;
}

.footer {
  margin-top:-30px;
  height: 70px!important;
}


/*-------------- REGISTRO --------------*/


#registration-box {
  background-color: white!important;
  border: none!important;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px #dcdcdc;
  margin-top: 20px;
  margin-bottom: 50px;
}

.registro {
  width: 100%!important;
  background-color: #fdffc5!important;
  border-radius: 7px!important;
  border-width: 2px!important;
}

#titulo {
  color: #1492e6;
  font-size: 20px;
  font-family: "rockwellregular";
  font-weight: 500!important;
  margin-bottom: 20px;
}

hr {
  border-top-width: 2px!important;
  border-top-color: #f5f5f5!important;
}

#imagemCaptcha {
  /* padding-top:30px; */
  text-align: center;
}

#registrarBotao {
  margin-top: 20px;
  border-radius: 7px!important;
}


/*-------------- REGISTRO --------------*/


#forgotbox {
  /* width: 400px; */
  background-color: white!important;
  border: none!important;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 10px #dcdcdc;
  margin-top: 20px;
}

#forgotPassTitulo {
  color: #1492e6;
  font-size: 20px;
  font-family: "rockwellregular";
  font-weight: 500!important;
  margin-bottom: 20px;
}

#textoForgot {
  font-weight: 600!important;
}

#emailForgot {
  margin-top: 15px;
}

#botaoForgot {
  background-color:#25cc03!important;
  border: none!important;
  font-weight: 500!important;
  margin-top: 40px;
}

#inputForgot {
  width: auto!important;
}